.container-about-me {
  max-width: 60dvw;
}

.container-about-me-content {
  align-self: center;
  background-color: #bfc8d4;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: #142f55;
  justify-items: center;
  padding: 2rem;
  text-align: justify;

  article {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 0.5rem 0;
    text-align: center;
  }

  h3 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 0.5rem;
  }

  h4 {
    text-align: center;
  }
}

.container-about-me-content-contact {
  text-align: center;

  span {
    align-items: center;
    color: #142f55;
    display: flex;
    gap: 0.5rem;
    justify-content: center;

    a {
      text-decoration: none;
      color: #142f55;
    }
  }
}

@media (max-width: 430px) {
  .container-about-me {
    max-width: none;
  }

  .container-about-me-content {
    background-color: transparent;
    box-shadow: none;
  }
}

@media (max-width: 375px) {
  .container-about-me-content {
    article {
      height: 40dvh;
      overflow: auto;
    }
  }
}
