.container-about-me {
  align-items: center;
  display: grid;
  grid-template-columns: 35% 60%;
  height: 100%;
  justify-content: center;
  max-width: 60rem;
}

.container-about-me-title {
  align-self: center;
  background-color: #bfc8d4;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  justify-items: center;
  padding: 3rem 2rem;
  margin-right: -1rem;
  text-align: center;

  h1 {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 0.5rem;
  }

  h3 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 0.5rem;
  }
}

.container-about-me-description {
  background-color: #4d6c99;
  border-radius: 1rem;
  color: #fff;
  min-height: 27rem;
  padding: 2rem;

  h5 {
    font-size: 22px;
    text-align: center;
  }

  p {
    font-size: 20px;
    text-align: justify;
  }
}

@media (max-width: 768px) {
  .container-about-me {
    grid-template-columns: 40% 50%;
    max-width: 55rem;
  }

  .container-about-me-title {
    h1 {
      font-size: 28px;
    }

    h3 {
      font-size: 25px;
    }
  }

  .container-about-me-description {
    align-content: center;

    h5 {
      font-size: 20px;
      text-align: center;
    }

    p {
      font-size: 18px;
      text-align: justify;
    }
  }

  @media (max-width: 430px) {
    .container-about-me {
      grid-template-columns: 1fr;
      grid-template-rows: 30% 70%;
      width: auto;
    }

    .container-about-me-title {
      align-self: flex-end;
      background-color: unset;
      box-shadow: none;
      justify-self: center;
      margin: 0;
      max-width: 20rem;

      h1 {
        margin: 0;
      }

      h3 {
        margin: 0;
      }
    }

    .container-about-me-description {
      align-content: flex-start;
      border-radius: 0;
      height: 100%;
      overflow: auto;
      padding: 0 2rem;
    }
  }
}
